.header, .note-container {
  padding: 15px;
  border: 1px solid #cccccc;
  background-color: #EEEEEE; }

.note-container {
  margin-top: 30px;
  border-radius: 5px; }
  .note-container__note-input {
    margin-top: 10px;
    height: 170px;
    resize: none;
    border: 0;
    background-color: #EEEEEE;
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important; }
