@import "variables.scss";

.header, .note-container 
{
  padding: 15px;
  border: $defaultBorder;
  background-color: $defaultBgColor;
}

.note-container
{
  margin-top: 30px;
  border-radius: $borderRadius;
  
  &__note-input
  {
    margin-top: 10px;
    height: 170px;
    resize: none;
    border: 0;
    background-color: $defaultBgColor;
    outline: none !important;
    -webkit-appearance:none;
    box-shadow: none !important;
  }
}