header
{
    padding: 10px;
}

.notes-container_note
{
  margin-top: 25px;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #cccccc;
}

.notes-container_note_content
{
  margin-top: 10px;
}